* {
  box-sizing: border-box;
}

.grid-container {
  height: 400px;
  width: 400px;
  background-color: azure;
  /* border: 1px solid black;  */
  display: flex;
  /* flex-flow: row wrap; */
  flex-wrap: wrap;
  /* place-content: stretch flex-start; */
}

.grid-container div {
  flex: auto;
  border: 1px solid black;
  height: 25px;
  width: 25px;
}

.grid-div {
  background-color: black;
}

/* .default-size {
  height: 400px;
  width: 400px;
} */